* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: white;
  background: #28093b;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: #350753;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * (--i));
}
.navbar a:hover {
  color: #0ef;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color: #28093b;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;

  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}
.home-content h2 span:nth-of-type(2) {
  margin-bottom: 30px;

  animation: slideTop 0.5s ease forwards;
  animation-delay: 0.2s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 60%;
  color: #0ef;
  font-size: 22px;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  margin: 30px 15px 30px 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 18px;
  background: #0ef;
  font-size: 16px;
  color: #081b29;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 2s;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 35px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  }




.about-img img{
  padding-bottom: 20%;
  max-width: 630px;
  height: 45%;
  width: 50%;
  margin-top: 120px;
  margin-left:180px;
  border-radius: 8px;
}
.about-text h2{
  font-size: 60px;
  color: #316a92;
}
.about-text h2 span{
  color: #0ef;
}
.about-text h4{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 20px;
}
#services{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.sub-title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span{
  color: #0ef;
}
.container{
  padding: 90px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div{
  background-color: transparent;
  padding:40px;
  font-size: 13px;
  font-weight: 13px;

  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s,transform 0.5s;
  box-shadow: 1px 1px 10px #012290f7,
  1px 1px 25px #012290f7
  /* 1px 1px 60px #012290f7 */
}
.services-list div i{
  font-size: 40px;
  margin-bottom: 30px;
}
.services-list div h2{
font-size: 30px;
font-weight: 500;
margin-bottom: 15px;
}
.services-list div a{

  text-decoration: none;
  color: #000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;

}
.read{
  display: inline-block;
  padding: 12px 20px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;

}
.read:hover{
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 5px cyan, 0 0 35px cyan, 0 0 50px cyan, 0 0 100px cyan;
 

}

.services-list div:hover{
  transform: translateY(-30px);
  
}

.container1{
  padding: 20px 30px 20px 30px;
 margin: 20px 30px 20px 20px;
 /* background-color: rgba(63, 68, 68, 0.445); */
 
}
h1{
  font-size: 60px;
  margin: 20px 40px;
  text-align: center;
}
.Techincal-bars{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 5px;
  margin-top: 50px;
  
}
.bar{
  background-color: transparent;
  padding:40px;
  
 

 }
.bar i{
  font-size: 150px;
  margin-bottom: 30px;
  
}
.info{
  margin-top: 20%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 /* .main-text{
  padding-top: 130px;
  margin-top: 200px;
}
.main-text h2{
  font-size: 60px;
  line-height: 1;
  text-align:center ;
}
.main-text h2 span{
  color: #0ef;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  
}
.row img{
  width: 10%;
  height: 10%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 700px;
  height: 250px;
  background: linear-gradient(rgba(0,0,0,0.1),#0ef);
  position: static;
  border-radius:8px;

  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}  */


footer{
  position:relative;
  background: #00000017;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #000000;
}
.top .media-icons a:nth-child(5):hover{
  color: #ffffff;
  background: #161616;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}

#github{
  color: #000;
  
}

h2{
    font-size: 60px;
    color: #0ef;
    margin: 20px 20px 60px 0px;
    text-align: center;
  }
.privacy-terms{
    padding: 20px 20px 20px 180px;
    
  }
  .sub-head{
    
    margin: 40px 10px;
    color: #0077B5;
  }
  .pargraph{
    margin: 10px 300px 10px 20px;
    padding-left: 40px;
    padding-left: 40px;
    color: grey;
  }
    

@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}





@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0x);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0x);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translatey(-100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0x);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translatex(100px);
    opacity: 0;
  }
  100% {
    transform: translatex(0x);
    opacity: 1;
  }
}


/* slider -projects */


.carousel{
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 250px;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic{
  color: #f1683a;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: 300;
  color: whitesmoke;

}
.thumbnail .item .content .description{
  font-weight: 300;
}
/* arrows */
.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  cursor: pointer;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  text-decoration: none;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;

}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}

/* projects.html-csss */


.projects {
  background: #28093b;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
.orderlist {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;

}
.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 200px;
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
  margin-left: 200px;
  


}
.content a{
  text-decoration: none;
}
.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .content {
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}
.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}
.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  /* font-weight: 700; */
}
.olcards li .content .text {
  grid-area: text;
}
